

<div class="container mt-4">
  <app-navbar></app-navbar>
  <div class="container-fluid p-0">
    <!-- Image Slider -->
    <app-image-slider></app-image-slider>
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur RECRUITINI</h1>
    <p class="lead">Vous êtes connecté en tant qu'agent.</p>
    <hr class="my-4">
    <p>Explorez les offres d'emploi disponibles et postulez directement depuis notre plateforme.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/job-offers" role="button">Voir les offres</a>
    </p>
  </div>
</div>
